Source: python3-sg3
Maintainer: Umer Saleem <usaleem@ixsystems.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-python,
 python3-setuptools,
 python3-dev,
 cython3,
 libsgutils2-dev
Standards-Version: 4.3.0

Package: python3-sg3
Architecture: all
Depends: libsgutils2-1.46-2, ${misc:Depends}, ${python3:Depends}
Description: Python bindings for libsgutils2-dev package (sg3_utils)
